.infopanel.show {
  right: 0px !important;
  box-shadow: -8px 0px 8px -2px rgba(255, 0, 0, 0.3);
}

.infopanel {
  min-width: 300px;
  background-color: rgb(250,250,250);
  position: absolute;
  top: 0px;
  right: -25vw;
  width: 25vw;
  height: 100%;
  box-sizing: border-box;
  z-index: 9999;
  transition: all 0.2s;
}

.clear {
  font-weight: bold;
  color: #999999;
}

.links {
  text-decoration: none;
  color: inherit;
}

.links:hover {
  text-decoration: none;
  color: inherit;
}

